@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    cursor: none;
}

::-webkit-scrollbar {
    display: none;
}